@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-gunMetal: #222d29;
  --color-babyPowder: #FDFFFC;
  --color-azul: #246EB9;
  --color-vanila: #F5EE9E;
  --color-tomato: #F06543;

  --font-urbanist: "Urbanist", sans-serif;
}

*{
  font-family: var(--font-urbanist);
}

.custom-scroll::-webkit-scrollbar{
  background-color: var(--color-gunMetal);
  width: 15px;
}

.custom-scroll::-webkit-scrollbar-track{
  border-radius: 4px;
  background-color: transparent;
  margin-block: 4px;
  padding-right: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb{
  background-color:#F5EE9Ecc;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scroll::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-vanila);
}